<style>

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 60%;
	height: 65px;
	text-align: center;
	padding-top: 25px;
	margin: 20px auto;
}
.drop-box.drag-over{
	background: #eee;
	border-color: #cfc;
}	

</style>

<section id="files-page" layout="row" layout-wrap ng-controller="fileController as fc">

	<div  flex="50" flex-sm="100">

	    <og-file-dropbox ng-show="fc.selectedFile === null" og-fd-upload-file="fc.uploadFile">
		</og-file-dropbox>

		<div id="front-page-file-selected" ng-show="pc.selectedFile != null">
			<div style="text-align:center;position:relative;">
				<div style="position:absolute;top:20px;right:20px;" ng-click="pc.selectedFile = null">X</div>
				<img style="max-width:100%;height:100%;" ngf-src="pc.selectedFile"	>
			</div>				
		</div>
		
	</div>

	<div flex-sm="100" flex="50">
		<md-list layout-padding>

		    <og-file-search-list og-fsl-files="fc.fileList" 
		                         og-fsl-hide-empty="false" 
		                         og-fsl-selected-file="fc.selectedFile"
		                         og-fsl-view="list" 
		                         ng-show="fc.selectedFile === null">
		    </og-file-search-list>

		</md-list>
	</div>

</section>