// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-list{padding:0;}
md-item{position:relative;}
md-item-content.active{background:#eee;}
.md-button.duck{margin-right:-48px;}
md-content{z-index: 0;}
.md-ink-ripple{position:relative;}

[ng-panel] {
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
[ng-panel].ng-enter {
  transform: translate3d(0, -15%, 0);
  opacity: 0.1;
  z-index: 1;
}
[ng-panel].ng-enter.ng-enter-active,
[ng-panel].ng-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
[ng-panel].ng-leave.ng-leave-active {
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
}
[ng-panel] .demo-content {
  background: white;
}
@media screen and (-ms-high-contrast: active) {
  .layout-content demo-include .layout > div {
    border: 1px solid #fff !important;
  }
}

.hide { display: none !important; }
html {
  font-size: 62.5%;
  line-height: 1.4;
}
html, body {
  min-height : 100%;
}
body {
  font-size: 1.6rem;
}

body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.logo img{
  display:none;
}

a {
  color: #333333;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}

a:hover, a:focus {
  border-bottom: 1px solid #4054B2;
}
a.md-button {
  border-bottom: none;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}