<div>
	
	<link rel="stylesheet" href="styles/directives/temperature-status.css">

	<div class="name" layout="row" layout-align="center">
		<div>{{slug}}</div>
	</div>

	<div class="current-temp bold" layout="row" layout-align="center">
		<div>{{currentTemp}}°</div>
	</div>

	<div class="temp-info" layout="row" layout-align="center">

		<form layout="column" layout-padding layout-align="center" flex="50">
			<label>Set Temp</label>
			<div layout="row" class="bold" layout-align="center center">
				<div flex="75">
					<input ng-model="tempTargetTemp" type="number" />
				</div>
				<div flex="25">
					°C
				</div>
			</div>
		</form>
		<div layout="column" layout-padding layout-align="center" flex="50">
			<label>Target</label>
			<div class="bold">{{targetTemp}}°C</div>
		</div>
		
	</div>

	<div class="temp-buttons" layout="row" layout-align="center">
		<div class="btn left-btn" ng-class="{active:(status()=='on')}" layout="column" layout-align="center" flex="50" ng-click="applyTarget()" >
			<div>{{onButton}}</div>
		</div>
		<div class="btn right-btn" ng-class="{active:(status()=='off')}" layout="column" layout-align="center" flex="50" ng-click="off()" >
			<div>Off</div>
		</div>
	</div>

</div>