Package: opengb
Version: 0.20.0
Architecture: amd64
Maintainer: re3D <support@re3d.com>
Installed-Size: 16312
Pre-Depends: dpkg (>= 1.16.1), python3.4 | python3.5, python3.4-dev | python3.5-dev
Section: misc
Priority: extra
Description: OpenGB 3D printer control software
