<div>
	
	<link rel="stylesheet" href="styles/directives/colored-temperature-status.css">

	<div class="name bold" ng-class="{cyan:(name=='Extruder 1'),magenta:(name=='Extruder 2'),purple:(name=='Heated Bed')}" layout="row" layout-align="left">
		<div>{{slug}}</div>
	</div>

	<div layout="row" class="top-row" layout-align="center center" layout-wrap>
		<div class="current-temp bold" flex="33">
			<div>{{currentTemp}}°</div>
		</div>
		<div class="target-temp" layout="column" flex="33">
			<label flex>Target:</label>
			<div flex class="bold">{{targetTemp}}°</div>
		</div>
		<div class="temp-button bold" flex="34">
			<div ng-click="applyTarget()">Heat</div>
		</div>
	</div>

	<div layout="row" class="bottom-row" layout-align="center center" layout-wrap>
		<div class="" flex="66">
			<div layout="row" class="temp-info" layout-align="center center">
				<label flex="50" class="bold">Set Temp</label>
				<span flex><input ng-model="tempTargetTemp" /></span>
				<span flex>°C</span>
			</div>
		</div>
		<div class="temp-button bold" flex>
			<div>Off</div>
		</div>
	</div>

</div>