.bold{font-family:'proxima_novaextrabold';}

.name{font-size:14px;color:#ffffff;background:#000;padding:2px 5px;}
.current-temp{font-size:20px;}
.top-row{background: transparent;}
.bottom-row{background:#D8D8D8;}
.target-temp label{font-size:10px;margin-bottom:-5px;}
.target-temp {text-align: center;}
.temp-info{width:100%;padding:10px 5px;}
.temp-info label{font-size:10px;}
.temp-info input{width:100%;background: transparent;border:0;border-bottom:2px solid #333;outline: none; text-align: center;}
.temp-info input:focus{border-bottom:2px solid #000;}
.temp-button{width:100%;text-align: center;background:#000;padding:10px;margin:0;color:#fff;}

.cyan{background: cyan;}
.magenta{background:magenta;}
.purple{background:purple;}