      .doc-logo {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 16px;
        margin: 0 auto;
      }
      .doc-logo:focus {
        outline: none;
      }
      .doc-logo > img {
        width: 120px;
        display: block;
        transform-origin: 50% 0;
        transform: scale(1.2);
        padding:50px 20px;
      }
      a.doc-logo {
        border-bottom: none;
      }
      .doc-logotype {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 26px;
      }
      .nav-header {
        background-color: #333333;
        background: linear-gradient(#000000, #333333);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #000000));
        background: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
        background: -moz-linear-gradient(top, #333333 0%, #000000 100%);
        background: linear-gradient(top, #333333 0%, #000000 100%);
        border-bottom: 1px solid #267ED5;
        flex-shrink: 0;
        z-index: 2;
      }

      md-sidenav{min-height: 100vh;}
      md-sidenav, md-sidenav md-content{background:black;}
      md-sidenav a{color:yellow;}
      md-sidenav md-item-content.active {color:black;background:#eee;}
      md-sidenav md-item-content.active md-icon {color:black!important;}