      .doc-logo {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 16px;
        margin: 0 auto;
      }
      .doc-logo:focus {
        outline: none;
      }
      .doc-logo > img {
        width: 120px;
        display: block;
        transform-origin: 50% 0;
        transform: scale(1.2);
        padding:50px 20px;
      }
      a.doc-logo {
        border-bottom: none;
      }
      .doc-logotype {
        color: white;
        text-align: center;
        font-weight: 400;
        font-size: 26px;
      }
      .nav-header {
        background-color: #106CC8;
        background: linear-gradient(#185694, #106cc8);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
        background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
        background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
        background: linear-gradient(top, #185694 0%, #106cc8 100%);
        border-bottom: 1px solid #267ED5;
        flex-shrink: 0;
        z-index: 2;
      }