<div>

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/directives/navigation-menu.css">
  <!-- endbuild -->

    <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')" >

      <header class="nav-header">
        <a ng-href="/" class="logo">
          <img src="images/logo.png" alt="" />
          <h1 class="doc-logotype md-heading">Open Gigabot</h1>
        </a>
      </header>

      <md-content flex role="navigation">

        <md-list  class="doc-menu">
          <md-item ng-repeat="page in pages">
            <a href="#/{{page.url}}">
              <md-item-content md-ink-ripple layout="row" layout-align="start center" ng-class="{active:isCurrentPageKey(page.url)}">
                <div class="inset">
                  <md-icon class="material-icons md-primary">{{page.icon}}</md-icon>
                </div>
                <div class="inset">
                  {{page.name}}
                </div>
              </md-item-content>
            </a>
          </md-item>
        </md-list>

      </md-content>

    </md-sidenav>
</div>