<!-- build:css(.tmp) styles/main.css -->
<style>
  md-tabs-wrapper{background:#555 !important;}
</style>
<!-- endbuild -->

    <div flex layout="column" ng-controller="controlsController as cc">

        <md-content style="height:100vh;">

        <md-tabs md-dynamic-height md-stretch-tabs="always" >
            <md-tab>
                <md-tab-label>
                  controls
                </md-tab-label>
                <md-tab-body>
                    <div layout="row" layout-wrap>
                        <div flex="50" flex-sm="100" layout-padding>
                            <controls-cube cc-pos-x="cc.position.x"  
                                           cc-pos-y="cc.position.y"  
                                           cc-pos-z="cc.position.z"  
                                           cc-resolution="10"
                                           cc-apply="cc.applyPosition()">
                            </controls-cube>
                            <div ng-click="cc.homeX()">X: {{cc.position.x}}</div>
                            <div ng-click="cc.homeY()">Y: {{cc.position.y}}</div>
                            <div ng-click="cc.homeZ()">Z: {{cc.position.z}}</div>
                            <div ng-click="cc.homeX()">home X</div>
                            <div ng-click="cc.homeY()">home Y</div>
                            <div ng-click="cc.homeZ()">home Z</div>
                            <div ng-click="cc.homeAll()">home All</div>
                        </div>
                        <div flex-sm="100" flex="50" layout-padding>
                            <div layout="row" layout-align="center" layout-wrap>
                              <div flex="33" flex-sm="100" layout-padding>
                                <og-temperature-status ts-name="nozzle1" 
                                                       ts-slug="Extruder 1" 
                                                       ts-current-temp="{{cc.temperatures.nozzle1.current}}" 
                                                       ts-target-temp="{{cc.temperatures.nozzle1.target}}">
                                </og-temperature-status>
                              </div>
                              <div flex="33" flex-sm="100" layout-padding>
                                <og-temperature-status ts-name="nozzle2" 
                                                       ts-slug="Extruder 2" 
                                                       ts-current-temp="{{cc.temperatures.nozzle2.current}}" 
                                                       ts-target-temp="{{cc.temperatures.nozzle2.target}}">
                                </og-temperature-status>
                              </div>
                              <div flex="33" flex-sm="100" layout-padding>
                                <og-temperature-status ts-name="bed"
                                                       ts-slug="Heated Bed" 
                                                       ts-current-temp="{{cc.temperatures.bed.current}}" 
                                                       ts-target-temp="{{cc.temperatures.bed.target}}">
                                </og-temperature-status>
                              </div>
                            </div>
                            <div layout="row" layout-align="center">
                              <div flex layout-padding style="height:300px;">
                                <og-temperature-graph tg-data-set="cc.temperatureData">
                                </og-temperature-graph>
                              </div>
                            </div>
                        </div>
                    </div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                  terminal
                </md-tab-label>
                <md-tab-body>
                </md-tab-body>
            </md-tab>
        </md-tabs>

        </md-content>

    </div>