<svg width="100%" height="100%">
	<g>
		<g data-ng-repeat="gridLine in grid">
			<path stroke="grey" 
				  style="fill:none;stroke-width:2px"
				  data-ng-attr-d="{{line(gridLine.data)}}">
			</path>
			<text data-ng-attr-x="{{x(gridLine.label.x)}}" 
				  data-ng-attr-y="{{y(gridLine.label.y)}}" 
				  fill="red">
				  {{gridLine.label.text}}
			</text>
		</g>
	</g>
	<g data-ng-repeat="(series, data) in dataSet">
		<path data-ng-attr-stroke="{{series}}" 
		      style="fill:none;stroke-width:3px;" 
			  data-ng-attr-d="{{curve(getSeries(series))}}">
		</path>
	</g>
</svg>